// fonts 
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 34px;
$font-xl: 50px;

//colors
$sand-light: #EAE7DC;
$sand-normal: #D8C3A5;
$light-grey: #a7a5a1;
$grey: #8E8D8A;
$red-light: #E98074;
$red-normal: #E85A4F;

//spaces
$margin-xs: 5px;
$margin-s: 15px;
$margin-m: 25px;
$margin-l: 35px;
$margin-xl: 50px;

$padding-xs: 5px;
$padding-s: 15px;
$padding-m: 25px;
$padding-l: 35px;
$padding-xl: 50px;