@import '../common/theme.scss';

.call-me {
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        &__input {
            margin-bottom: $margin-m;
            height: 40px;
            border: none;
            box-sizing: border-box;
            padding: $padding-s $padding-m;
           
        }
    
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }  
    }
    display: flex;
    flex-direction: column;
    padding: $padding-m;
    background-color: $sand-light;
    &__input {
        margin-bottom: $margin-m;
        height: 40px;
        border: none;
        box-sizing: border-box;
        padding: $padding-s $padding-m;
       
    }
}