@import "../common/theme.scss";

.contacts {
    background-color: white;
    padding: $padding-l 0;
    padding-bottom: 100px;
    &__wrapper {
        display: grid;
        gap: $padding-l;
        grid-template-areas: 
        "map info"
        "map form";
    }
    &__map-wrapper {
        grid-area: map;
        margin-right: 80px;
    }
    &__map {
        width: 100%;
        height: 100%;
    }
    &__list {
        grid-area: info;
        padding-left: $padding-xl;
    }
    &__item {
        font-size: $font-m;
        margin-bottom: $margin-l;
        position: relative;
        color: black;

        &:hover:before {
            transform: scale(1.2);
        }
        
        &:before {
            transition: 0.3s all ease-in-out;
            content: "";
            position: absolute;
            left: -50px;
            top: -12px;
            width: 35px;
            height: 35px;
        }
        &.phone:before {
            background-image: url('../../imgs/icons/phone.svg');
            background-size: contain;
        }
        &.mail:before {
            background-image: url('../../imgs/icons/mail.svg');
            background-size: contain;
        }
        &.address:before {
            background-image: url('../../imgs/icons/placeholder.svg');
            background-size: contain;
        }
        address {
            font-style: normal;
        }
    }
    &__item-link {
        transition: 0.3s all ease-in-out;
    }
    &__form {
        grid-area: form;
    }
}