@import '../common/theme.scss';
.nav {
    font-family: 'montserrat-semi-bold', Arial, sans-serif;
    &__list {
        display: flex;
        margin: 0;
    }
    &__item {
        transition: all 0.3s ease-in-out;
        border: 2px solid $light-grey;
        position: relative;
        top: 0;
        
        &:not(:last-child) {
            border-right: none;
        }
        &:hover {
            border-color: $red-light;

            top: 3px;
            a {
                color: $red-light;
            }
        }
    }
    &__link {
        transition: all 0.3s ease-in-out;
        padding: $padding-s;
        display: block;
        text-transform: uppercase;
        font-size: $font-xs;
        letter-spacing: 2px;
    }
    
}