/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "montserrat-semi-bold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "montserrat-semi-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "montserrat-regular", Arial, sans-serif;
  font-size: 14px;
  min-width: 1301px;
  color: white;
  background-color: #373738; }

@media screen and (min-width: 350px) and (max-width: 800px) {
  body {
    min-width: 350px;
    max-width: 800px; } }

img {
  height: auto; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #f99a04; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  padding: 15px 25px;
  color: white;
  background-color: #f99a04;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'montserrat-light', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  transition: 0.3s all ease-in-out; }
  .btn:hover {
    transform: scale(1.1);
    color: white; }

.section-header {
  color: #f99a04;
  font-size: 34px;
  text-align: center; }

@media screen and (min-width: 350px) and (max-width: 800px) {
  .container {
    min-width: 300px;
    max-width: 750px; } }

.header {
  padding: 15px 0;
  position: relative; }
  .header .container {
    display: flex;
    align-items: center;
    position: relative; }
  .header__nav {
    margin-left: auto;
    margin-right: 0; }
  .header__logo {
    margin-right: 35px;
    width: 135px;
    box-sizing: border-box; }
  .header__social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 100; }
  .header__lang-btn {
    border: 2px solid #8E8D8A;
    background: transparent;
    width: 40px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 30px;
    transition: 0.3s all ease-in-out; }
    .header__lang-btn:hover {
      transform: scale(1.1); }
    .header__lang-btn img {
      position: absolute;
      left: -21px;
      top: -13px;
      width: 80px;
      height: 47px; }

.footer {
  background-color: black;
  color: #EAE7DC;
  padding: 25px 0; }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    font-size: 12px; }
    .footer__copyright span {
      margin-bottom: 15px; }
    .footer__copyright a {
      color: white; }
      .footer__copyright a:hover {
        color: #f99a04; }
  .footer__nav a {
    color: white; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.nav {
  font-family: 'montserrat-semi-bold', Arial, sans-serif; }
  .nav__list {
    display: flex;
    margin: 0; }
  .nav__item {
    transition: all 0.3s ease-in-out;
    border: 2px solid #a7a5a1;
    position: relative;
    top: 0; }
    .nav__item:not(:last-child) {
      border-right: none; }
    .nav__item:hover {
      border-color: #f99a04;
      top: 3px; }
      .nav__item:hover a {
        color: #f99a04; }
  .nav__link {
    transition: all 0.3s ease-in-out;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; }

.call-me {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #EAE7DC; }
  .call-me fieldset {
    border: none;
    display: flex;
    flex-direction: column; }
    .call-me fieldset__input {
      margin-bottom: 25px;
      height: 40px;
      border: none;
      box-sizing: border-box;
      padding: 15px 25px; }
    .call-me fieldset input::-webkit-outer-spin-button,
    .call-me fieldset input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .call-me fieldset input[type=number] {
      -moz-appearance: textfield; }
  .call-me__input {
    margin-bottom: 25px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    padding: 15px 25px; }

.categories {
  min-height: 500px;
  background-color: white;
  padding: 35px 0; }
  .categories .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .categories__list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .categories__link {
    display: block;
    background-color: #EAE7DC;
    text-align: center;
    padding: 0;
    width: 270px;
    height: 300px;
    background-color: #EAE7DC;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s all ease-in-out; }
    .categories__link.interior {
      background-image: url("../imgs/category-interior.jpg"); }
    .categories__link.exterior {
      background-image: url("../imgs/category-exterior.jpg"); }
    .categories__link.events {
      background-image: url("../imgs/category-events.jpg"); }
    .categories__link.photoshoots {
      background-image: url("../imgs/category-shoot.jpg"); }
    .categories__link:hover {
      transform: scale(1.1); }
  .categories__item-label {
    padding: 5px 0;
    display: block;
    background-color: #EAE7DC; }

.contacts {
  background-color: white;
  padding: 35px 0;
  padding-bottom: 100px; }
  .contacts__wrapper {
    display: grid;
    gap: 35px;
    grid-template-areas: "map info"
 "map form"; }
  .contacts__map-wrapper {
    grid-area: map;
    margin-right: 80px; }
  .contacts__map {
    width: 100%;
    height: 100%; }
  .contacts__list {
    grid-area: info;
    padding-left: 50px; }
  .contacts__item {
    font-size: 16px;
    margin-bottom: 35px;
    position: relative;
    color: black; }
    .contacts__item:hover:before {
      transform: scale(1.2); }
    .contacts__item:before {
      transition: 0.3s all ease-in-out;
      content: "";
      position: absolute;
      left: -50px;
      top: -12px;
      width: 35px;
      height: 35px; }
    .contacts__item.phone:before {
      background-image: url("../imgs/icons/phone.svg");
      background-size: contain; }
    .contacts__item.mail:before {
      background-image: url("../imgs/icons/mail.svg");
      background-size: contain; }
    .contacts__item.address:before {
      background-image: url("../imgs/icons/placeholder.svg");
      background-size: contain; }
    .contacts__item address {
      font-style: normal; }
  .contacts__item-link {
    transition: 0.3s all ease-in-out; }
  .contacts__form {
    grid-area: form; }

.gallery {
  min-height: 500px;
  padding: 35px 0;
  background-color: white; }
  .gallery .container {
    position: relative;
    overflow: hidden; }
  .gallery__back {
    position: absolute;
    left: 15px;
    top: 30px; }
  .gallery__header {
    margin-bottom: 50px; }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    box-sizing: border-box; }
  .gallery__img {
    width: 100%; }
  .gallery__desc {
    margin-bottom: 35px;
    text-align: center; }

.history {
  background-color: white;
  padding: 35px; }
  .history__text-wrapper p {
    font-size: 16px;
    margin: 0; }
  .history__text-header {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 35px; }
  .history__image-text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .history__image {
    margin-right: 35px;
    margin-bottom: 35px; }

.main-info__wrapper {
  min-height: 150px;
  padding: 50px 0;
  background-color: #D8C3A5;
  color: black; }

.main-info__list {
  display: flex;
  justify-content: space-between; }

.main-info__item {
  width: 140px;
  background-color: #EAE7DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  padding-top: 15px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out all; }
  .main-info__item:hover {
    transform: scale(1.1); }

.main-presentation {
  background-image: url("../imgs/home-bg.jpg");
  background-size: cover;
  position: relative;
  height: 550px;
  box-sizing: border-box;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center; }
  .main-presentation__header {
    font-family: 'Montserrat-regular', Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: white;
    margin: 0;
    margin-bottom: 50px; }
    .main-presentation__header span {
      padding-bottom: 25px;
      display: block;
      text-align: center; }
  .main-presentation__desc {
    font-size: 14px;
    margin-bottom: 100px; }
  .main-presentation__quotes {
    font-size: 35px; }

.services {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services__item {
    border: none; }
  .services__desc-info-header {
    color: black;
    font-size: 20px; }
  .services__labels {
    min-width: 285px;
    margin-left: 2px; }
    .services__labels input {
      display: none; }
    .services__labels button {
      border: none;
      background: transparent;
      height: 27px;
      display: block;
      position: relative;
      text-transform: uppercase;
      padding-bottom: 16px;
      cursor: pointer;
      z-index: 1;
      margin-bottom: 37px;
      width: 160px;
      text-align: center; }
      .services__labels button:hover::before {
        height: 40px;
        top: -10px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
    .services__labels .current {
      color: #D8C3A5; }
      .services__labels .current:before {
        height: 40px;
        width: 280px;
        background-color: black;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        top: -10px;
        left: 0px; }
  .services__header {
    margin-bottom: 90px; }
  .services__form {
    display: flex;
    width: 100%; }
  .services__abs {
    margin-bottom: 50px;
    width: 100%; }
  .services__contact-btn {
    text-align: center; }
  .services__text {
    position: relative;
    width: 457px;
    top: -51px;
    left: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .services__text:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 415px;
      top: 0px;
      left: -106px;
      background-color: black; }
  .services .services__desc-info-block {
    display: none; }
  .services .current-service {
    position: relative;
    display: block;
    width: 436px;
    margin-left: 18px; }
  .services .current {
    opacity: 1; }
  .services__btn:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 160px;
    height: 8px;
    top: 5px;
    left: 1px;
    background-color: #D8C3A5;
    z-index: -1; }

.social {
  margin: 0;
  padding-top: 5px; }
  .social__item {
    background-color: white;
    width: 40px;
    padding-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.25);
    transition: 0.3s all ease-in-out; }
    .social__item:hover {
      padding-left: 10px; }
    .social__item.fb:hover {
      padding-left: 10px; }
    .social__item.vk:hover {
      padding-left: 10px; }
    .social__item.gmail:hover {
      padding-left: 10px; }
  .social__link {
    display: block;
    padding: 8px; }
    .social__link span {
      font-size: 12px; }
  .social__image {
    height: 30px;
    width: auto; }
  

  section {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
